:root {
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", sans-serif;
  --nav-font: "Poppins", sans-serif;
  --background-color: #010911;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --accent-color: #ffc107;
  --contraste-color: #ffffff;
  --surface-color: #007bff;
  --action-color:#25D366;
  --card-color: #0C0B0B;
  --background-details:#000000;
  --surface-color-hover: #034fa1;
  --nav-color: #ffffff;
  --nav-hover-color: #007bff;
  --nav-mobile-background-color:#fff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: var(--default-font);
  color: var(--default-color);
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--default-font);
  color: var(--heading-color);
}

h1,
.h1 {
  font-size: clamp(32px, 5vw, 42px);
}

h2,
.h2 {
  font-size: clamp(28px, 3vw, 36px);
}

h3,
.h3 {
  font-size: clamp(24px, 2vw, 30px);
}

h4,
.h4 {
  font-size: clamp(22px, 1vw, 26px);
}

.h4 {
  font-size: 22px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--default-color);
}

.small {
  font-size: 14px;
}

.weak {
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

.msg-alert {
  border-radius: 5px;
  margin-top: 10px;
}

.success {
  background-color: var(--action-color);
  padding: 10px 15px;
}

.error {
  background-color: red;
  padding: 10px 15px;
}

.divisor-pag-to,
.divisor-pag-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
}

.divisor-pag-up {
  background-image: url("../../assets/img/divisor/divisor-up.png");
}

.divisor-pag-to {
  background-image: url("../../assets/img/divisor/divisor-to.png");
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
  }
  p {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .container-xl {
    max-width: 100%;
    padding: 0 10px;
  }
  p {
    font-size: 14px;
  }
  .divisor-pag-to,
  .divisor-pag-up {
    background-position: center;
    background-repeat: no-repeat;
    height: 55px;
  }
}
.accent-color {
  color: var(--accent-color);
}

.surface-color {
  color: var(--surface-color);
}

header {
  position: relative;
}
header .faixa-top {
  background-color: var(--surface-color);
}
header .faixa-top .info-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .faixa-top .info-top-content p {
  display: flex;
  gap: 30px;
  margin: 0;
}
header .faixa-top .info-top-content .faixa-top-instagram-icon a {
  display: flex;
}
header .faixa-top .info-top-content .faixa-top-instagram-icon a img {
  width: 30px;
}
header .content_nav {
  width: 100%;
}
header .content_nav nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7px 0;
  background-color: var(--background-color);
  border: 1px solid var(--surface-color);
  border-radius: 50px;
  padding: 5px 10px;
  transition: all 0.5s;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  top: 30px;
  z-index: 999;
  max-width: 1340px;
}
header .content_nav nav:hover {
  box-shadow: 0 0 5px var(--surface-color);
}
header .content_nav nav ul {
  display: flex;
  align-items: center;
  gap: 80px;
}
header .content_nav nav ul li a {
  transition: all 0.5s;
}
header .content_nav nav ul li a:hover {
  color: var(--surface-color);
}
header .content_nav nav .menu_nav_img a {
  display: flex;
  align-items: center;
}
header .content_nav nav .menu_nav_img a img {
  width: 60px;
}
header .content_nav nav .menu_nav_btn_contato a {
  padding: 10px 25px;
  background-color: var(--surface-color);
  border-radius: 25px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: var(--default-color);
  font-size: 16px;
}

.close-menu {
  display: none;
}

.open-menu {
  display: none;
}

@media (max-width: 768px) {
  .faixa-top {
    display: none;
  }
  .content_nav .menu-nav {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
  }
  .content_nav .menu-nav.active {
    opacity: 1;
    visibility: visible;
  }
  .content_nav nav {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    max-width: 100%;
    margin: 0;
    z-index: 4;
    flex-direction: column;
    padding: 30px 10px !important;
    background-color: var(--background-color) !important;
  }
  .content_nav nav:hover {
    box-shadow: none !important;
  }
  .content_nav nav .menu_nav_img a img {
    width: 80px;
  }
  .content_nav nav ul {
    flex-direction: column;
    align-items: start !important;
    gap: 30px !important;
    margin-top: 40px;
  }
  .content_nav nav .menu_nav_btn_contato {
    display: none;
  }
  .content_nav .open-menu {
    display: flex;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 5;
    cursor: pointer;
  }
  .content_nav .open-menu img {
    width: 40px;
  }
  .content_nav .open-menu.active {
    display: none;
  }
  .content_nav .close-menu {
    display: none;
  }
  .content_nav .close-menu.active {
    display: flex;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 5;
    cursor: pointer;
  }
  .content_nav .close-menu img {
    width: 40px;
  }
}
.btn {
  position: relative;
  padding: 1.5rem 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
  max-width: 300px;
  z-index: 1;
}

.neon-pulse {
  background: #000;
  border: 2px solid var(--action-color);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
  overflow: visible;
}

.neon-pulse::before,
.neon-pulse::after {
  content: "";
  position: absolute;
  inset: -4px;
  border: 2px solid var(--action-color);
  border-radius: inherit;
  animation: pulseOut 2s ease-out infinite;
  opacity: 0;
}

.neon-pulse::after {
  animation-delay: 1s;
}

@keyframes pulseOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@media (max-width: 576px) {
  .btn {
    position: absolute;
    bottom: 100px;
    left: 50%;
    font-size: 0.7rem;
    padding: 1rem 1rem;
  }
}
footer {
  background-color: var(--background-color);
  width: 100%;
  height: auto;
  padding: 30px 0 0 0;
}
footer .footer-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
}
footer .footer-content div {
  flex-grow: 3;
  text-align: left;
}
footer .footer-content div h4 {
  margin-bottom: 5px;
}
footer .footer-content .contact_footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
footer .footer-content .contact_footer .foo-logo img {
  width: 120px;
}
footer .footer-content .foo-links ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
footer .footer-content .foo-links ul li img {
  width: 10px;
  margin-right: 5px;
}
footer .footer-content .foo-links ul li a {
  cursor: pointer;
  transition: all 0.5s;
}
footer .footer-content .foo-links ul li a:hover {
  color: var(--nav-hover-color);
}
footer .footer-content .foo-newsletter {
  flex-grow: 1;
}
footer .footer-content .foo-newsletter p {
  max-width: 400px;
}
footer .footer-content .foo-newsletter form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer-content .foo-newsletter form input {
  height: 40px;
  padding: 0 10px;
  border-radius: 2px;
  font-size: 16px;
  transition: 0.5s ease;
  color: white;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer-content .foo-newsletter form input:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.3);
}
footer .footer-content .foo-newsletter form input:hover {
  border-color: var(--accent-color);
}
footer .footer-content .foo-newsletter form button {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 10px;
  color: white;
  height: 40px;
  border-radius: 0 5px 5px 0;
  transition: 0.5s ease;
  cursor: pointer;
}
footer .footer-content .foo-newsletter form button:hover {
  border-color: var(--accent-color);
}
footer .fooCopy {
  background-color: var(--surface-color);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
}

section {
  padding: 50px 0;
}
section .content {
  width: 100%;
}
section .content .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 80px 0;
}
section .content .title h1 {
  max-width: 1200px;
  margin-bottom: 0;
  text-align: center;
}
section .content .title p {
  font-size: 20px;
}

.hero {
  background-image: url("../../assets/img/informatica-manutencao-notebook.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100dvh;
  width: 100%;
  position: relative;
}
.hero .hero-content {
  position: absolute;
  max-width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
}
.hero .hero-content .hero-col-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.hero .hero-content .hero-col-content .destaque-hero {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}
.hero .hero-content .hero-col-content .destaque-hero .item {
  border: 1px solid var(--accent-color);
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 12px;
}
.hero .hero-content .hero-col-content .text-hero {
  display: flex;
  flex-direction: column;
}
.hero .hero-content .hero-col-content .text-hero ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero .hero-content .hero-col-content .action-hero a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  max-width: 250px;
  background-color: var(--action-color);
  padding: 7px 25px;
  text-align: center;
  border-radius: 25px;
  transition: all 0.7s;
}
.hero .hero-content .hero-col-content .action-hero a:hover {
  background-color: rgba(37, 211, 101, 0.7882352941);
}

.slide-faixa {
  width: 100%;
  overflow: hidden;
  padding: 25px 0;
  background-color: #100f0f;
}
.slide-faixa .slide-container {
  width: 100%;
  overflow: hidden;
}
.slide-faixa .slide-container .slide-content {
  display: flex;
  gap: 120px;
  width: -moz-max-content;
  width: max-content;
  animation: faixaMove 70s linear infinite;
}
.slide-faixa .slide-container .slide-content .slide-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 143px;
  font-weight: 600;
}

@keyframes faixaMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.section-info .content .info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 30px 0;
}
.section-info .content .info-container .info-content {
  background-color: var(--card-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.section-info .content .info-container .info-content div {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.section-info .content .info-container .info-content div .info-play {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-info .content .info-container .info-content div {
  flex: 1;
  padding: 30px;
}
.section-info .content .info-container .info-content .info-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.section-info .content .info-container .info-content .info-text a {
  background-color: var(--surface-color);
  padding: 7px 7px;
  border-radius: 15px;
  max-width: 150px;
  text-align: center;
  font-size: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 0.5s;
}
.section-info .content .info-container .info-content .info-text a img {
  width: 25px;
  height: 25px;
}
.section-info .content .info-container .info-content .info-text a:hover {
  background-color: var(--surface-color-hover);
}
.section-info .content .info-container .info-content .info-text .info-destaque {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.section-info .content .info-container .info-content .reverse-col {
  display: flex;
  flex-direction: row-reverse;
}

.servico {
  background-color: #000000;
  width: 100%;
}
.servico .content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.servico .content .container-servico {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: auto;
}
.servico .content .container-servico div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  gap: 10px;
}
.servico .content .container-servico div h3 {
  margin: 0;
  margin-top: 10px;
  font-size: 24px;
}
.servico .content .container-servico div p {
  margin: 0;
}
.servico .content .container-servico div .service-img {
  width: 100%;
}
.servico .content .container-servico div .service-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.servico .content .container-servico .serv-pc {
  background-color: var(--card-color);
}
.servico .content .container-servico .serv-notebook {
  background-color: var(--surface-color);
}
.servico .content .container-servico .serv-suporte {
  background-color: var(--card-color);
}
.servico .content .service-itens-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.servico .content .service-itens-container .service-item {
  border: 1px solid white;
  border-radius: 15px;
  font-size: 11px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 180px;
}
.servico .content .service-itens-container .service-item img {
  width: 20px;
  height: 20px;
}
.servico .content .service-text p {
  max-width: 1000px;
  color: #666;
  line-height: 27px;
}

.beneficios {
  width: 100%;
}
.beneficios .content .beneficios-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.beneficios .content .beneficios-container div {
  width: 400px;
  text-align: center;
  background-color: var(--surface-color);
  border-radius: 20px;
  padding: 20px;
}
.beneficios .content .beneficios-container div p {
  font-weight: 500;
}

.faixa-detalhes {
  background-color: var(--background-details);
  padding: 0;
}
.faixa-detalhes .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 0;
}
.faixa-detalhes .content div {
  flex: 2;
  text-align: center;
}
.faixa-detalhes .content .details-text .text-details {
  font-weight: 500;
  font-size: 24px;
}
.faixa-detalhes .content .details-text h3 {
  text-transform: uppercase;
  font-size: 44px;
}
.faixa-detalhes .content .details-text .details-btn {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.faixa-detalhes .content .details-text .details-btn a {
  background-color: var(--action-color);
  padding: 10px 45px;
  border-radius: 25px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 300px;
}
.faixa-detalhes .content .details-text .details-btn a:hover {
  background-color: rgba(2, 160, 2, 0.448);
}
.faixa-detalhes .content .details-text .details-passo-passo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.faixa-detalhes .content .details-text .details-passo-passo div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.faixa-detalhes .content .details-text .details-passo-passo div span {
  background-color: var(--accent-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  position: absolute;
  top: -5px;
  left: 100px;
}
.faixa-detalhes .content .details-text .details-passo-passo div .arrow {
  position: absolute;
  right: -50px;
  top: 0;
}
.faixa-detalhes .content .details-text .details-passo-passo div img {
  width: 70px;
}
.faixa-detalhes .content .details-text .details-passo-passo div p:last-child {
  font-weight: 100;
}
.faixa-detalhes .content .details-img {
  flex: 1;
}
.faixa-detalhes .content .details-img h4 {
  text-align: start;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}
.faixa-detalhes .content .details-img p {
  text-align: start;
  font-weight: 100;
}

.procura .content .container-procura {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 80px;
}
.procura .content .container-procura .procura-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background: #074b8f;
  background: linear-gradient(358deg, rgb(7, 75, 143) 0%, rgb(153, 153, 153) 100%);
}
.procura .content .container-procura .procura-item img {
  max-width: 80px;
}
.procura .content .container-procura .procura-item a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--action-color);
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.5s;
}
.procura .content .container-procura .procura-item a:hover {
  background-color: rgba(2, 160, 2, 0.448);
}

.dicas .content .dicas-container {
  display: flex;
  flex-direction: column;
}
.dicas .content .dicas-container .dicas-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 80px;
}
.dicas .content .dicas-container .dicas-title-container .dica-item div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 400px;
  min-width: 60px;
  padding: 20px 30px;
  background-color: var(--card-color);
  border: 1px solid white;
  font-size: 16px;
  border-radius: 2px;
  transition: all 0.5s;
  cursor: pointer;
}
.dicas .content .dicas-container .dicas-title-container .dica-item div.active {
  background-color: var(--surface-color);
}
.dicas .content .dicas-container .dicas-title-container .dica-item div img {
  width: 50px;
  height: 50px;
}
.dicas .content .dicas-container .conteudo-dicas-container {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  background-color: var(--card-color);
  padding: 30px 30px;
  border-radius: 20px;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
  transition-delay: 0.2s;
  position: absolute;
  top: -10px;
}
.dicas .content .dicas-container .conteudo-dicas-container.active {
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-delay: 0.3s ease;
  position: relative;
}
.dicas .content .dicas-container .conteudo-dicas-container div {
  flex: 1;
}
.dicas .content .dicas-container .conteudo-dicas-container .conteudo-text h4 {
  margin-top: 0;
}
.dicas .content .dicas-container .conteudo-dicas-container .conteudo-text ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dicas .content .dicas-container .conteudo-dicas-container .conteudo-text ul li {
  display: flex;
  gap: 10px;
}
.dicas .content .dicas-container .conteudo-dicas-container .conteudo-img {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.dicas .content .dicas-container .conteudo-dicas-container .conteudo-img img {
  max-width: 500px;
}

.testemunhas .content .testemunhas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.testemunhas .content .testemunhas-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}
.testemunhas .content .testemunhas-container > div .card-item-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 350px;
  background-color: var(--card-color);
  padding: 5px;
  border-radius: 40px;
}
.testemunhas .content .testemunhas-container > div .card-item-test p {
  font-size: 12px;
  margin: 0;
  text-align: center;
}
.testemunhas .content .testemunhas-container > div .card-item-test .card-star img {
  width: 100px;
}
.testemunhas .content .testemunhas-container > :first-child {
  justify-content: flex-end;
}

.profissional .content .profi-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profissional .content .profi-container > div {
  position: relative;
  padding-bottom: 80px;
}
.profissional .content .profi-container > div img {
  max-width: 300px;
}
.profissional .content .profi-container > div .profi-box {
  position: absolute;
  background-color: var(--default-color);
  height: 80px;
  width: 90%;
  left: 50%;
  bottom: 40px;
  border-radius: 5px;
  transform: translateX(-50%);
  padding: 10px;
}
.profissional .content .profi-container > div .profi-box h5 {
  color: #000;
  margin: 0;
}
.profissional .content .profi-container > div .profi-box > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.profissional .content .profi-container > div .profi-box > div span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profissional .content .profi-container > div .profi-box > div span a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profissional .content .profi-container > div .profi-box > div span a img {
  width: 30px;
  cursor: pointer;
}
.profissional .content .profi-container > div .profi-box > div p {
  color: #000;
  margin: 0;
  font-size: 12px;
}
.profissional .content .profi-container > div .profi-box > div span {
  color: #000;
}
.profissional .content .profi-container p {
  max-width: 1000px;
}

.perguntas .content .container-perguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5px;
}
.perguntas .content .container-perguntas .perguntas-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  background-color: #292e35;
  border-radius: 5px;
  gap: 10px;
}
.perguntas .content .container-perguntas .perguntas-item .perguntas-dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.perguntas .content .container-perguntas .perguntas-item .perguntas-dropdown-container .drop-down {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.perguntas .content .container-perguntas .perguntas-item .perguntas-dropdown-container .drop-down .item-text {
  color: #fff;
  font-weight: 600;
}
.perguntas .content .container-perguntas .perguntas-item .perguntas-dropdown-container .drop-down .arrow {
  height: 100%;
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.perguntas .content .container-perguntas .perguntas-item .perguntas-dropdown-container .drop-down .arrow img {
  width: 40px;
}
.perguntas .content .container-perguntas .perguntas-item .perguntas-dropdown-container .drop-down .arrow.activeDrop {
  transform: rotate(180deg);
}
.perguntas .content .container-perguntas .perguntas-item .perguntas-dropdown-container .drop-resposta {
  font-size: 14px;
  font-weight: 300;
  background-color: rgba(78, 83, 88, 0.1960784314);
  width: 100%;
  padding: 3px 15px;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s ease;
  max-height: 0;
  overflow: hidden;
}
.perguntas .content .container-perguntas .perguntas-item .perguntas-dropdown-container .drop-resposta.activeDrop {
  opacity: 1;
  max-height: 500px;
}

.fale-conosco .content {
  padding-top: 80px;
}
.fale-conosco .content .container-fale {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 40px;
  border-radius: 10px;
}
.fale-conosco .content .container-fale div {
  flex: 1;
}
.fale-conosco .content .container-fale .fale-info {
  display: flex;
  flex-direction: column;
  height: 445px;
  gap: 15px;
}
.fale-conosco .content .container-fale .fale-info div {
  border-radius: 10px;
  text-align: center;
  height: 100%;
}
.fale-conosco .content .container-fale .fale-info .info-endereco {
  background-color: var(--card-color);
}
.fale-conosco .content .container-fale .fale-info .info-endereco,
.fale-conosco .content .container-fale .fale-info .info-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fale-conosco .content .container-fale .fale-info .info-contact {
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}
.fale-conosco .content .container-fale .fale-info .info-contact div {
  flex: 1;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fale-conosco .content .container-fale .fale-form-container form {
  display: flex;
  flex-direction: column;
  background-color: var(--card-color);
  padding: 20px;
  gap: 12px;
}
.fale-conosco .content .container-fale .fale-form-container form div {
  margin-bottom: 10px;
}
.fale-conosco .content .container-fale .fale-form-container form .inputs-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.fale-conosco .content .container-fale .fale-form-container form .inputs-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fale-conosco .content .container-fale .fale-form-container form input,
.fale-conosco .content .container-fale .fale-form-container form select,
.fale-conosco .content .container-fale .fale-form-container form textarea {
  background-color: var(--background-color);
  color: white;
  padding: 10px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
  backdrop-filter: blur(10px);
}
.fale-conosco .content .container-fale .fale-form-container form input:focus,
.fale-conosco .content .container-fale .fale-form-container form select:focus,
.fale-conosco .content .container-fale .fale-form-container form textarea:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.3);
}
.fale-conosco .content .container-fale .fale-form-container form input:hover,
.fale-conosco .content .container-fale .fale-form-container form select:hover,
.fale-conosco .content .container-fale .fale-form-container form textarea:hover {
  border-color: var(--accent-color);
}
.fale-conosco .content .container-fale .fale-form-container form .input-interesse select {
  height: 100%;
  cursor: pointer;
}
.fale-conosco .content .container-fale .fale-form-container form .input-interesse select option {
  background-color: var(--background-color);
}
.fale-conosco .content .container-fale .fale-form-container form .input-message {
  display: flex;
  flex-direction: column;
}
.fale-conosco .content .container-fale .fale-form-container form .input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.fale-conosco .content .container-fale .fale-form-container form .input-btn button {
  padding: 15px 45px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  color: white;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
}
.fale-conosco .content .container-fale .fale-form-container form .input-btn button:hover {
  border-color: var(--accent-color);
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.3);
}

@media (max-width: 768px) {
  section .content .title {
    padding: 70px 0;
  }
  section .content .title h1 {
    width: 100%;
  }
  section .content .title p {
    font-size: 16px;
    text-align: center;
  }
  .slide-faixa .slide-container .slide-content {
    gap: 30px;
  }
  .slide-faixa .slide-container .slide-content .slide-item {
    justify-content: center;
    width: 143px;
  }
  .slide-faixa .slide-container .slide-content .slide-item img {
    width: 30px;
  }
  .hero {
    background-image: url("../../assets/img/informatica-manutencao-notebook.png");
    background-position: -600px center;
  }
  .hero .hero-content {
    align-items: flex-start;
    padding-top: 15px;
  }
  .hero .hero-content .hero-col-content .text-hero p {
    max-width: 400px;
  }
  .info-container .info-content div {
    flex-direction: column-reverse !important;
    padding: 15px !important;
  }
  .info-container .info-content div .info-text h2 {
    font-size: 17px;
  }
  .info-container .info-content div .info-text span {
    font-size: 13px;
  }
  .servico .content .container-servico {
    flex-direction: column;
  }
  .servico .content .container-servico div {
    max-width: 400px;
  }
  .servico .content .service-itens-container {
    align-items: center;
    justify-content: center;
  }
  .faixa-detalhes .content {
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
  .faixa-detalhes .content .details-img img {
    width: 300px;
  }
  .faixa-detalhes .content .details-text .details-passo-passo {
    flex-direction: column;
  }
  .faixa-detalhes .content .details-text .details-passo-passo div .arrow {
    display: none;
  }
  .procura .content .container-procura {
    justify-content: center;
  }
  .dicas .content .dicas-container .dicas-title-container .dica-item div {
    gap: 10px;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 16px;
  }
  .dicas .content .dicas-container .dicas-title-container .dica-item div img {
    width: 40px;
    height: 40px;
  }
  .dicas .content .dicas-container .dicas-title-container .dica-item div span {
    display: none;
  }
  .dicas .content .dicas-container .conteudo-dicas-container {
    justify-content: center;
    align-items: flex-start;
  }
  .dicas .content .dicas-container .conteudo-dicas-container.active {
    flex-direction: column;
  }
  .dicas .content .dicas-container .conteudo-dicas-container .conteudo-img {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .dicas .content .dicas-container .conteudo-dicas-container .conteudo-img img {
    max-width: 500px;
  }
}
@media (max-width: 576px) {
  .hero {
    background-image: url("../../assets/img/manutencao-noteook-mobil.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero .hero-content {
    align-items: flex-start;
    padding-top: 15px;
  }
  .hero .hero-content .hero-col-content .destaque-hero {
    gap: 10px;
    padding-right: 0px;
  }
  .hero .hero-content .hero-col-content .destaque-hero .item {
    font-size: 9px;
    padding: 5px 7px;
  }
  .hero .hero-content .hero-col-content .text-hero ul {
    margin-top: 0;
  }
  .hero .hero-content .hero-col-content .text-hero ul li {
    font-size: 12px;
  }
  .hero .hero-content .hero-col-content .text-hero p {
    display: none;
    max-width: 400px;
  }
  .hero .hero-content .hero-col-content .action-hero {
    display: none;
  }
  .dicas .content .dicas-container .dicas-title-container {
    margin-bottom: 50px;
  }
  .dicas .content .dicas-container .dicas-title-container .dica-item div {
    gap: 5px;
    max-width: 400px;
    padding: 5px 5px;
    font-size: 10px;
  }
  .dicas .content .dicas-container .dicas-title-container .dica-item div img {
    width: 40px;
    height: 40px;
  }
  .dicas .content .dicas-container .conteudo-dicas-container .conteudo-img img {
    width: 100%;
    max-width: 500px;
  }
  .fale-conosco {
    padding-top: 0px;
  }
  .fale-conosco .content .container-fale {
    flex-direction: column-reverse;
    padding: 0;
    gap: 120px;
  }
  .fale-conosco .content .container-fale div {
    width: 100%;
  }
  .fale-conosco .content .container-fale .fale-info {
    height: auto;
  }
  .fale-conosco .content .container-fale .fale-info .info-endereco {
    padding: 20px 10px;
  }
  .fale-conosco .content .container-fale .fale-info .info-contact {
    flex-direction: column;
  }
  .fale-conosco .content .container-fale .fale-info .info-contact div {
    width: 100%;
    padding: 20px 0;
  }
  .fale-conosco .content .container-fale .fale-form-container form .inputs-container {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */